@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.ttf") format("Truetype");
}
@font-face {
    font-family: "Fa";
    src: url("../fonts/fa-regular-400.ttf") format("Truetype");
}